<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GeneralSuite1">
  <test name="GeneralTest1">
    <classes>
      <class name="tests.LoginTest"/>
      <class name="tests.NewCustomerTest"/>
    </classes>
  </test> <!-- GeneralTest1 -->
</suite> <!-- GeneralSuite1 -->
